<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerenciador de Produtos</title>
  <link rel="stylesheet" href="/style/style.css">
</head>
<body>
  <nav class="navbar">
    <div class="nav-container">
      <div class="nav-logo">
        <a href="/">Gerenciador</a>
      </div>
      <div class="nav-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="nav-menu">
        <li><a href="/">Início</a></li>
        <li><a href="/produtos">Cardápio</a></li>
        <li><a href="/faleConosco">Fale Conosco</a></li>
        <li><a href="/reserva">Reserva</a></li>
        <li><a href="/pedidos">Pedidos</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>

  {{{body}}}

  <script>
    const menu = document.getElementById('mobile-menu');
    const navMenu = document.querySelector('.nav-menu');

    menu.addEventListener('click', () => {
      menu.classList.toggle('active');
      navMenu.classList.toggle('active');
    });
  </script>
</body>
</html>
