<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Produtos</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
<nav>
    <ul>
  <li><a href="/">Início</a></li>
  <li><a href="/produtos">Cardapio</a></li>
  <li><a href="/faleConosco">Fale-Conosco</a></li>
  <li><a href="/reserva">Reserva</a></li>
  <li><a href="/pedidos">Pedido</a></li>
  <li><a href="/login">Login</a></li>
    </ul>
</nav>
    {{{body}}}
</body>
</html>