<header>
  <h1>Restaurante VinTheo Nesudo</h1>
</header>

<div class="container">
  <h2>Bem-vindo ao nosso restaurante!</h2>
  <p>
    Aqui no VinTheo Nesudo, servimos pratos feitos com carinho e ingredientes frescos.
    Uma experiência gastronômica acolhedora, perfeita para toda a família.
  </p>

  {{#if imagemURL}}
    <img src="{{imagemURL}}" alt="Imagem do restaurante">
  {{/if}}
</div>


